<section class="container">
  <h2>Filmes</h2>
  <div class="grid carousel">
    <app-card movieTitle="world war z"></app-card>
    <app-card movieTitle="Z"></app-card>
    <app-card movieTitle="barbie"></app-card>
    <app-card movieTitle="joker"></app-card>
    <app-card movieTitle="wonka"></app-card>
    <app-card movieTitle="world war z"></app-card>
    <app-card movieTitle="Z"></app-card>
    <app-card movieTitle="barbie"></app-card>
    <app-card movieTitle="joker"></app-card>
    <app-card movieTitle="wonka"></app-card>
  </div>
</section>
<section class="container">
  <h2>Top 5 - Doramas</h2>
  <div class="grid carousel">
    <app-card movieTitle="Mr. Sunshine"></app-card>
    <app-card movieTitle="Bulgasal"></app-card>
    <app-card movieTitle="Hometown Cha-Cha-Cha"></app-card>
    <app-card movieTitle="Sweet home"></app-card>
    <app-card movieTitle="All of Us Are Dead"></app-card>
    <!-- <app-card movieTitle="Strong Girl Bong-soon"></app-card> -->
  </div>
</section>
