img, img:after {
  width: 150px;
  height: 220px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: all 0.3s;
}

img:hover {
  box-shadow: 3px 3px 3px 2px #c48d33;
}

article {
  margin: 20px auto;
  text-align: center;
  position: relative;
  max-width: 200px;
}

h3,
p {
  text-transform: capitalize;
  font-size: 0.9rem;
}

p {
  font-size: 0.8rem;
  margin-top: 5px;
}


.nota-teca {
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -5%;
  background-color: #c48d33;
  color: black;
  padding: 8px;
  border-radius: 10px;
  font-size: 0.8rem;
}
