<!-- <footer class="container flex">
  <a routerLink="/home"><img class="logo" src="././assets/teca-logo-horizontal.png" alt=""></a>

  <nav class="flex">
      <ul class="flex menu">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/movie">Categories</a></li>
        <li><a routerLink="/movie">About</a></li>
        <li><a routerLink="/movie">Curation</a></li>
        <li><a routerLink="/movie">API IMDb</a></li>
      </ul>
  </nav>

</footer> -->

<div style="margin-top: 50px;"></div>

<div class="flex info-dev">
  <p>Developed by <a href="https://github.com/barbaradamasdev" target="blank">Barbara Damasceno</a></p>
</div>
