<div class="container flex">

  <section class="characters-section">
    <h2 class="section-title">Cativating Characters</h2>
    <div class="character-cards">
      <div *ngFor="let character of characters" class="character-card">
        <img [src]="character.image" [alt]="character.name" class="character-image" />
        <h3 class="character-name">{{ character.name }}</h3>
        <p class="character-work">{{ character.work }}</p>
        <a [routerLink]="['/movie', character.id]" class="details-link">View Details</a>
      </div>
    </div>
  </section>

  <section [style.background]="curationBgPoster" [routerLink]="['/movie', curationTitle]" >
    <div class="container flex">
        <div>
            <p class="category">The best of</p>
            <h1>{{curationTitle}}</h1>
        </div>

        <button>See more</button>
    </div>
  </section>
</div>
