<app-banner movieTitle="Knock at the Cabin" movieBgPoster="https://www.themoviedb.org/t/p/original/zWDMQX0sPaW2u0N2pJaYA8bVVaJ.jpg"></app-banner>

<section *ngFor="let category of categories" class="container">
 <div class="flex titles">
   <h2><span class="category">The best of </span>{{ category.title }}</h2>
   <a [routerLink]="['/genre', category.title]"><h4>Show more +</h4></a>
 </div>
 <div class="grid carousel">
   <app-card *ngFor="let movie of category.movies.slice(0, 7)" [movieTitle]="movie.Title"></app-card>
 </div>
</section>
