<div class="container flex breadcrumb">
  <a routerLink="/home">Home</a>
  <p>></p>
  <p>Search > {{capitalizeFirstLetter(breadcrumbName) }}</p>
</div>

<section *ngIf="filteredMovies" class="container">
  <div class="flex">
    <h2><span class="category">Movies with "</span>{{ breadcrumbName }}<span class="category">" in the name</span></h2>
    <p class="total-movies">({{ totalFilteredMovies }})</p>
  </div>
  <div class="grid fullpage" >
    <app-card *ngFor="let movie of filteredMovies" [movieTitle]="movie?.Title"></app-card>
  </div>
</section>
