.banner {
  min-height: 400px;
  height: 25vw;
  color: white;
  cursor: pointer;
}

.banner .container {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap:20px;
}

ul {
  list-style: none;
  gap: 20px;
}

h1 {
  font-size: 2.4rem;
}

@media screen and (min-width: 600px) {
  .banner p {
    max-width: 40%;
  }
}
