.banner {
  min-height: 400px;
  height: 25vw;
  color: white;
}

.main-banner {
  min-height: 500px !important;
}

.main-banner > .container {
  align-items: end;
  text-align: right;
}

.banner .container {
  text-shadow: 1px 1px 2px black;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

ul {
  list-style: none;
  gap: 20px;
}

h1 {
  font-size: 2.4rem;
  text-transform: capitalize;
}

button {
  font-size: 1rem;
  max-width: 150px;
  padding: 10px 15px;
}


@media screen and (min-width: 600px) {
  .banner p {
    max-width: 40%;
  }
}

button {
  text-transform: uppercase;
  border-radius: 3px;
  border: 2px solid #a3a3a3;
  box-shadow: 5px 5px 0 0 #ffffff;
  position: relative;
  inset: 0;
  transform: rotateX(0), rotateY(0) rotateZ(0);
  transition: all 600ms ease;
}

button:hover {
  inset: 3px 0 3px 0;
  transform: rotateX(5deg) rotateY(3deg) rotateZ(.25deg);
  box-shadow: none;
}
