 <app-banner movieTitle="Interstellar" movieBgPoster="https://images.alphacoders.com/616/616438.jpg"></app-banner>

 <section *ngFor="let category of categories.slice(0, 4)" class="container">
  <div class="flex titles">
    <h2><span class="category">The best of </span>{{ category.title }}</h2>
    <a [routerLink]="['/genre', category.title]"><h4>Show more +</h4></a>
  </div>
  <div class="grid carousel">
    <app-card *ngFor="let movieTitle of category.movies.slice(0, 7)" [movieTitle]="movieTitle"></app-card>
  </div>
</section>

<app-banner movieTitle="Bulgasal" movieBgPoster="https://artworks.thetvdb.com/banners/v4/series/398825/backgrounds/61c7663f939b9.jpg"></app-banner>

<section *ngFor="let category of categories.slice(4, 7)" class="container">
  <div class="flex titles">
    <h2><span class="category">The best of </span>{{ category.title }}</h2>
    <a [routerLink]="['/genre', category.title]"><h4>Show more +</h4></a>
  </div>
  <div class="grid carousel">
    <app-card *ngFor="let movieTitle of category.movies.slice(0, 7)" [movieTitle]="movieTitle"></app-card>
  </div>
</section>

<app-banner movieTitle="Color out of space" movieBgPoster="https://image.tmdb.org/t/p/original/vj2gCvD5vZDJ865izTU0J0wJBVc.jpg"></app-banner>

<section *ngFor="let category of categories.slice(7, 9)" class="container">
  <div class="flex titles">
    <h2><span class="category">The best of </span>{{ category.title }}</h2>
    <a [routerLink]="['/genre', category.title]"><h4>Show more +</h4></a>
  </div>
  <div class="grid carousel">
    <app-card *ngFor="let movieTitle of category.movies.slice(0, 7)" [movieTitle]="movieTitle"></app-card>
  </div>
</section>

<app-banner movieTitle="Knock at the cabin" movieBgPoster="https://www.themoviedb.org/t/p/original/zWDMQX0sPaW2u0N2pJaYA8bVVaJ.jpg"></app-banner>

<section *ngFor="let category of categories.slice(9, 12)" class="container">
  <div class="flex titles">
    <h2><span class="category">The best of </span>{{ category.title }}</h2>
    <a [routerLink]="['/genre', category.title]"><h4>Show more +</h4></a>
  </div>
  <div class="grid carousel">
    <app-card *ngFor="let movieTitle of category.movies.slice(0, 7)" [movieTitle]="movieTitle"></app-card>
  </div>
</section>


<ul>
  <!-- <li><a [routerLink]="['/genre', 'terror']">Terror</a></li> -->
  <!-- <li><a [routerLink]="['/genre', 'comedy']">Comedy</a></li> -->
  <!-- <li><a [routerLink]="['/genre', genreTitle]">Drama</a></li> -->
</ul>

<!-- genres = [
    "Action",
    "Adventure",
    "Animation",
    "Biography",
    "Comedy",
    "Crime",
    "Documentary",
    "Drama",
    "Family",
    "Fantasy",
    "Film Noir",
    "History",
    "Horror",
    "Music",
    "Musical",
    "Mystery",
    "Romance",
    "Sci-Fi",
    "Short",
    "Sport",
    "Superhero",
    "Thriller",
    "War",
    "Western"
]
 -->
