* {
  color: white;
}

article {
  background: rgba(139, 139, 139, 0.137);
  gap: 50px;
  flex-direction: column;
  align-items: center;
}

p::first-letter {
  text-transform: capitalize;
}

.breadcrumb {
  gap: 8px;
  padding-top: 0;
  font-size: .9rem;
}

.breadcrumb > * {
  color: grey;
}

p span {
  color: #c48d33;
}

.movieinfo {
  flex-direction: column;
  gap: 15px;
}

.subinfo {
  align-items: center;
  gap: 10px;
}

.subinfo > * {
  font-size: .9rem;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 3px 12px;
}

.subinfo span {
  color: rgba(128, 128, 128, 0.678);
}

.subcategory {
  gap: 60px;

}

@media screen and (min-width: 750px) {
  img {
    object-fit: cover;
    width: 350px;
    max-width: 40vw;
    height: 600px;
  }

  article{
    flex-direction: row;
  }
}
